<!DOCTYPE html>
<html>
	<body>
		<h2>Execução concluída!</h2>
		<p>Você entrou com os parâmetros <%= @entrada %> e a rede respondeu:
                <br>
                <h3>
		<%= @resposta %>
		</h3>
		<br>
		<a href="/nova_execucao">Executar novamente</a>
	</body>
</html>

