<!DOCTYPE html>
<html>
	<body>
		<h2>Rede treinada com sucesso!</h2>
		<p>Sua rede foi treinada e está pronta para receber valores de execução.</p>
		<p>Insira no formulário abaixo um conjunto de dados:
		<form action="/executar" method="post">
			<textarea rows="8" cols="50" name="dados_execucao"></textarea>
			<br>
			<input type="submit" value="Executar"/>
		</form>
	</body>
</html>

